<div 
    class="synopsis-container"
    *ngFor="let movie of movies"
>   
    <div>
        <nav>
            <img class="thumbnail" src="{{ movie.Poster }}"/>
        </nav>
    </div>

    <div>
        <h1>{{ movie.Title }}</h1>
        <h3>Released: {{ movie.Released }}</h3>
        <h3>Genre: {{ movie.Genre }}</h3>
        <h3>Director/s: {{ movie.Director }}</h3>
        <h3>Writer/s: {{ movie.Writer }}</h3>
        <h3>Actors: {{ movie.Actors }}</h3>
        <p class="plot">{{ movie.Plot }}</p>
    </div>

    <div>
        <h4 class="imdb-style">IMDB: {{ movie.imdbRating }}</h4>
    </div>
</div>