<header class="search-container">
    <h1> {{ title }} </h1>
  </header>
<div *ngIf="categoryClicked" class="movie-container row">
    <div 
        class="column" 
        *ngFor="let movie of filteredMovies"
    >   
        <a
            class="movie-name"
            routerLink="{{ '/movie-details/'+movie.imdbID }}"
        >
            <img 
                class="thumbnail"
                src="{{ movie.Poster }}" 
                alt="{{ movie.Title }}" 
                width="189.33" 
                height="280.2"
            >
        </a>
        <h3 class="overflow-text">
            <a 
                title="{{ movie.Title }}"
                routerLink="{{ '/movie-details/'+movie.imdbID }}"
            >
                {{ movie.Title }}
            </a>
        </h3>
        <div>
            <span> {{ movie.Year }} </span>
            <span class="dot"></span>
            <span> {{ movie.Runtime }}</span>
        </div>
    </div>
</div>

<div *ngIf="!categoryClicked" class="movie-container row">
    <div 
        class="column" 
        *ngFor="let movie of movies"
    >   
        <a
            class="movie-name"
            routerLink="{{ '/movie-details/'+movie.imdbID }}"
        >
            <img 
                class="thumbnail"
                src="{{ movie.Poster }}" 
                alt="{{ movie.Title }}" 
                width="189.33" 
                height="280.2"
            >
        </a>
        <h3 class="overflow-text">
            <a 
                title="{{ movie.Title }}"
                routerLink="{{ '/movie-details/'+movie.imdbID }}"
            >
                {{ movie.Title }}
            </a>
        </h3>
        <div>
            <span> {{ movie.Year }} </span>
            <span class="dot"></span>
            <span> {{ movie.Runtime }}</span>
        </div>
    </div>
</div>